<link rel="import" href="../../bower_components/polymer/polymer.html">
<!--  add different imports that I need for a card  -->

<dom-module id='my-newsfeed-post'>
  <template>
    <style>
    h3 {
      color: black;
    }
    p {
      color: #333;
    }

      /* local styles go here */
      :host {
        display: inline-block;
        --paper-item-focused-before: {
          background-color: white;
        }
      }
    </style>
    <!-- local DOM goes here -->

    <paper-item>

      <paper-item-body two-line>

        <h3>{{title}}</h3>
        <h4>{{date}}</h4>
        <p secondary>{{body}}</p>

      </paper-item-body>

    </paper-item>

  </template>
  <script>
  Polymer({
    is: 'my-newsfeed-post',
    properties: {
      title: String,
      date: String,
      body: String

    }
  });
  </script>
</dom-module>
