<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html"> 
<link rel="import" href="../../bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="../../bower_components/app-layout/app-grid/app-grid-style.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<!--Import custom elements-->
<link rel="import" href="../../custom_elements/my-datepicker/my-datepicker.html">


<!-- custom stylesheet -->
<link rel="import" href="../../src/shared-styles.html">

<dom-module id="my-search-bar">

  <template>

    <style include="shared-styles" include="iron-flex iron-flex-alignment"></style>
    <style include="app-grid-style">

      :host {
        display: block;
        --app-grid-columns: 2;
        --app-grid-gutter: 25px;
        position: fixed;
        z-index: 1;
      }
      /*Custom Style*/
      #searchBarWrapper {
        /*toolbar size of the viewport - the width of the drawer*/
        width: calc(100vw - 256px);
        height: 64px;
        @apply(--layout-horizontal);
        @apply(--layout-center);
        @apply(--layout-justified);
      }
      .searchBarStyle {
        @apply(--layout-self-center);
        color: white;
      }
      #advancedSearchBar {
        box-sizing: border-box;
      }
      #advancedSearchBarWrapper {
        padding: 25px;
      }
      /* Class applied if Advances Search Bar */
      .advancedSearchBarOpen {
        height: 200px;
        @apply(--layout-horizontal);
        display: block;
      }
      /* Class applied if Advances Search Bar is closed */
      .advancedSearchBarClose {
        height: 0px;
        display: none;
      }
      #searchNavigation {
        @apply(--layout-horizontal);
        @apply(--layout-end-justified);
      }
      gold-email-input{
        width: 35%;
        --paper-input-container-color: white;
        --paper-input-container-focus-color: white;
        --paper-input-container-invalid-color: white;
        padding: 2px;
      }
      /*Media Query for a differet grid inside the advanced Search on mobile devices*/
      @media (max-width: 500px) {
        :host {
          --app-grid-columns: 1;
          --app-grid-gutter: 10px;
        }
        .advancedSearchBarOpen {
          height: 250px;
        }
      }
      /*set's width to the size of the viewport when drawer is collapsed*/
      @media (max-width: 1000px) {
        #searchBarWrapper {
          width: 100vw;
        }
      }
      /*Style for Search Input*/
      paper-input-container {
        padding: 0;
        @apply(--layout-horizontal);
        @apply(--layout-center);
        --paper-input-container-input-color: black;
      }
      #searchIcon {
        --paper-icon-button: {
          width: 40px;
          height: 40px;
          color: white;
        }
      }
      #searchInput {
        padding: 3px;
        background-color: white;
      }
    </style>

    <!--Search Bar container-->
    <app-header>
      <div id="searchBarWrapper" class="secondaryBackgroundColor">
          <!-- Display Option Icon -->
          <paper-icon-button id="diplayOptionicon" class="searchBarStyle" on-tap="changeDisplayIcon" icon$="[[switchIcon]]"></paper-icon-button>
          <!--Search Input Conatiner-->
          <paper-input-container>
            <!--Search Two-->
            <paper-icon-button prefix id="searchIcon" icon="search" on-tap="sendSearchInput"></paper-icon-button>
            <input type="search" id="searchInput" is="iron-input" value="{{sInput::change}}" size="{{size}}" tabindex="1" autofocus>
          </paper-input-container>

          <!-- Advanced Search Icon -->
          <paper-icon-button id="hideShowAdvSearch" class="searchBarStyle" hideButton on-tap="openAdvancedSearch" icon="find-in-page"></paper-icon-button>
      </div>
    </app-header>  
    <!--Adcanced Search Bar container open when #hideShowAdvSearch is clicked-->
    <paper-material id="advancedSearchBar" class="secondaryBackgroundColor advancedSearchBarClose">
      <div id="advancedSearchBarWrapper" class="app-grid">
        <!--Advanced Search Details-->
        <my-datepicker></my-datepicker>
        <gold-email-input label="Search for Email" value="{{emailInput::change}}" always-Float-Label auto-Validate error-Message="Not an Email yet"></gold-email-input>
      </div>
      <div id="searchNavigation">
        <paper-button on-tap="advancedSearch" toggles>Search</paper-button>
      </div>
    </paper-material>
  </template>

  <script>

    Polymer({

      is: 'my-search-bar',
      properties: {

        switchIcon: {
          type: String,
          value: 'view-module'
        },

        //Search Input deafult size
        size: {
          type: Number,
          value: '60'
        },

        //Search Input
        sInput: {
          type: String,
          value: '',
          notify: true
        },
        //search email Input 
        emailInput: {
          type: String,
          value: '',
          notify: true
        },


      },
      ready: function() {
        var searchInput = this.$$("#searchInput");
        var searchBtn = this.$$("#searchIcon");
        searchInput.addEventListener("keyup", function(event) {
          event.preventDefault();
          if (event.keyCode == 13) {
            searchBtn.click();
          }
        });
      },

      //On send generate request
      sendSearchInput: function() {
        var searchValue = this.sInput;
        this.domHost.changeSearchURL(searchValue);
      },

      advancedSearch: function() {
        var searchEmailValue = this.emailInput;
        this.domHost.changeSearchURL(searchEmailValue);
      },

       //Grid Styling
      attached: function() {
          this._updateGridStyles = this._updateGridStyles || function() {
            this.updateStyles();
          }.bind(this);
          window.addEventListener('resize', this._updateGridStyles);
      },
      detached: function() {
          window.removeEventListener('resize', this._updateGridStyles);
      },

      // Change Icon from listView to boxView and trigger the function to change layouts
      changeDisplayIcon: function() {
        var iconButton = this.$$("#diplayOptionicon");
        var currentIcon = iconButton.getAttribute('icon');

        if(currentIcon == 'view-module') {
          iconButton.setAttribute('icon','view-list');
          this.domHost.switchViewToList();
        }
        else {
          iconButton.setAttribute('icon','view-module');
          this.domHost.switchViewToBlock();
        }

      },
      //Methods to hide the advanced search button
      hideAdvSearch: function () {
        var hideShowButton = this.$$("#hideShowAdvSearch");
        this.shadowRoot.querySelector('#myDialog');
        hideShowButton.style.visibility = 'hidden';
      },

      // Open the advanced Search
      openAdvancedSearch: function() {

        var advancedSearchContainer = this.$$("#advancedSearchBar");

        if ( advancedSearchContainer.classList.contains('advancedSearchBarClose') ) {
          advancedSearchContainer.classList.remove('advancedSearchBarClose');
          advancedSearchContainer.classList.add('advancedSearchBarOpen');
        }
        else {
          advancedSearchContainer.classList.remove('advancedSearchBarOpen');
          advancedSearchContainer.classList.add('advancedSearchBarClose');
        }
      },

      // Observs the page width and changes size of search input in the search Element
      behaviors: [
        Polymer.IronResizableBehavior
      ],

      listeners: {
        'iron-resize': '_onIronResize'
      },

      attached: function() {
        this.async(this.notifyResize, 1);
      },

      get parent() {
        if (this.parentNode.nodeType === Node.DOCUMENT_FRAGMENT_NODE) {
          return this.parentNode.host;
        }
        return this.parentNode;
      },

      _onIronResize: function() {
        /*Check window size*/
        var w = window,
        d = document,
        e = d.documentElement,
        g = d.getElementsByTagName('body')[0],
        x = w.innerWidth || e.clientWidth || g.clientWidth,
        y = w.innerHeight|| e.clientHeight|| g.clientHeight;
        
        if( x < 550 ) {
          //Change input size if smaller then 500px
          this.size = '23';
        }
        else if( x < 700 ) {
          //Change input size if smaller then 700px
          this.size = '40';
        }
        else {
          //standart size
          this.size = '60';
        }
      },

    });

  </script>

</dom-module>
