<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="my-datetime">
  <template>
    <style>
    .card {

      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      padding: 16px;
      /*margin: 24px;*/
      border-radius: 5px;
      background-color: #fff;
      color: #757575;
      transition: 0.5s;
    }
    .card:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

    }
    .circle {
      display: inline;
      height: 64px;
      width: 64px;
      border-radius: 50%;
      background: #ddd;
      line-height: 64px;
      font-size: 30px;
      color: #555;
      text-align: center;
    }

    .name {
      color: #222222;
      margin-left: 20px;
    }

    .fleft {
      display: inline;
      float: left;
    }
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }

    #date {
      font-size: 20px;
      text-align: center;
    }
    #time {
      color: #00796B;
      font-size: 50px;
      text-align: center;
    }

    .fclear {
      clear: both;
    }
      /* local styles go here */
      :host {
        display: inline-block;
      }
    </style>
    <!-- local DOM goes here -->

    <div class="card">
        <!-- <h3 class="name">Date and Time</h3>
        <hr> -->
        <h1 id="time">{{time}}</h1>
        <h2 id="date">{{date}}</h2>


    </div>

  </template>
  <script>
  Polymer({
    is: 'my-datetime',

    attached: function() {
      this.interval = setInterval(this.updateTime.bind(this), 500);
    },
    detached: function() {
      clearInterval(this.interval);
    },
    updateTime: function() {
      var d = new Date();
      //the 'toLocaleTimeString' is modiefied to hide the second counter
      this.time = d.toLocaleTimeString(navigator.language, {hour: '2-digit', minute: '2-digit'});
      this.date = d.toDateString();
    }
  });
  </script>
</dom-module>
