<link rel="import" href="../../bower_components/polymer/polymer.html">
<!--  add different imports that I need for a card  -->



<dom-module id="folder-item">
  <template>
    <style>

    paper-icon-item {
      background-color: #fff;
      padding: 5px 15px;
      margin: 5px 0px;
      transition: 0.5s;
    }

    paper-icon-item:hover {

      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
    </style>

        <style is="custom-style">
      .paper-item-link {
        color: inherit;
        text-decoration: none;
      }
    </style>
    <!-- local DOM goes here -->
    <a class="paper-item-link" href="{{to}}" tabindex="-1">

      <paper-icon-item>
        <iron-icon icon="folder" item-icon></iron-icon><p id="text"></p>
          {{name}}
      </paper-icon-item>



    </a>
  </template>
  <script>
  Polymer({
    is: 'folder-item',
    properties: {
      to: String,
      name: String,

    }
  });
  </script>
</dom-module>
