<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../../src/my-profile-view.html">

<!--Import shared Styles-->
<link rel="import" href="../../src/shared-styles.html">

<dom-module id="my-campus-dialog">
  <template>
    <style include="shared-styles"></style>
    <style>
      /* local styles go here */
      :host {
        display: inline-block;
      }
      /*General Style*/
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      /*Dialog PopUp to edit User details*/
      /* Dialog PopUp Header */
      #popUp {
        position: fixed;
        top: 65px;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
      }
      #popUpHeader {
        @apply(--layout-horizontal);
        @apply(--layout-justified);
        border-bottom: 1px solid #E0E0E0;
        z-index: 1;
        margin: 0 ;
        padding: 24px;
        background-color: white;
      }
      #popUpContent {
        margin-top: 24px;
        z-index: 2;
      }
      #popUpFooter {
        border-top: 1px solid #E0E0E0;
        @apply(--layout-horizontal);
        @apply(--layout-end-justified);
        margin: 0;
        background-color: white;
      }

    </style>
    <!-- local DOM goes here -->

    <!-- The Dialog PopUp -->
    <paper-dialog id="popUp" with-backdrop on-iron-overlay-opened="patchOverlay">
      <!-- Dialog PopUp header -->
      <div id="popUpHeader">
        <h2>Change Campus Details</h2>
      </div>
      <!-- Dialog PopUp content -->
      <div id="popUpContent">
        <ul>
          <li><iron-icon icon="communication:email"></iron-icon></li>
          <li><paper-input label="Email:" class="dialogInput"></paper-input></li>
          <li><paper-input label="Fax:" class="dialogInput"></paper-input></li>
          <li><paper-input label="Phone:" class="dialogInput"></paper-input></li><br><br>

          <li><iron-icon icon="room"></iron-icon></li>
          <li><paper-input label="Street:" class="dialogInput"></paper-input></li>
          <li><paper-input label="City:" class="dialogInput"></paper-input></li>
          <li><paper-input label="Postcode:" class="dialogInput"></paper-input></li>
          <li><paper-input label="Country:" class="dialogInput"></paper-input></li><br><br>

          <li><iron-icon icon="icons:schedule"></iron-icon></li>
          <li><paper-input label="Monday:" class="dialogInput"></paper-input></li>
          <li><paper-input label="Tuesday:" class="dialogInput"></paper-input></li>
          <li><paper-input label="Wednesday:" class="dialogInput"></paper-input></li>
          <li><paper-input label="Thursday:" class="dialogInput"></paper-input></li>
          <li><paper-input label="Friday:" class="dialogInput"></paper-input></li>
          <li><paper-input label="Saturday:" class="dialogInput"></paper-input></li>
          <li><paper-input label="Sunday:" class="dialogInput"></paper-input></li><br><br>
        </ul>
       </div>
       <div id="popUpFooter">
        <paper-button dialog-dismiss class="dialogBtn">Cancel</paper-button>
        <paper-button dialog-confirm autofocus class="dialogBtn">Save</paper-button>
       </div>
    </paper-dialog>

  </template>
  <script>
  Polymer({
    is: 'my-campus-dialog',

      toggleDialog: function () {
        this.$.popUp.toggle()
      },

    //Fix with-backdrop on dialog
      // https://github.com/PolymerElements/paper-dialog/issues/7
      patchOverlay: function (e) {
        if (e.target.withBackdrop) {
          e.target.parentNode.insertBefore(e.target.backdropElement, e.target);
        }
      },

      //If reset btn clicked close popUp and clear input
      resetClose: function() {
        this.$.nameInput.value = "";
        this.$.popUp.toggle();
      }

  });
  </script>
</dom-module>
