<link rel="import" href="../../bower_components/polymer/polymer.html">
<!--  add different imports that I need for a card  -->
<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<dom-module id="student-card">
  <template>
    <style>
    .card {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      padding: 16px;
      /*margin: 24px;*/
      border-radius: 5px;
      background-color: #fff;
      color: #757575;
      transition: 0.5s;
    }
    .card:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

    }

    .circle {
      display: inline;
      height: 64px;
      width: 64px;
      border-radius: 50%;
      background: #ddd;
      line-height: 64px;
      font-size: 30px;
      color: #555;
      text-align: center;
    }

    .name {
      color: #222222;
      margin-left: 20px;
    }

    .fleft {
      display: inline;
      float: left;
    }


    .fclear {
      clear: both;
    }
      /* local styles go here */
      :host {
        display: inline-block;
      }
    </style>
    <!-- local DOM goes here -->
    <a href="{{to}}" user-id={{id}}>
    <div class="card">
      <iron-image style="width:64px; border-radius: 50%; height:64px;" sizing="cover" preload class="fleft" src="{{picsrc}}" >
      </iron-image>

        <h3 class="name fleft">{{name}}</h3>

        <div class="fclear"></div>
    </div>
    </a>
  </template>
  <script>
  Polymer({
    is: 'student-card',
    properties: {
      name: String,
      picsrc: String,
      to: String
    }
  });
  </script>
</dom-module>
