<link rel="import" href="../../bower_components/polymer/polymer.html">
<!--  add different imports that I need for a card  -->



<dom-module id="document-card">
  <template>
    <style>
    .card {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      padding: 16px;
      /*margin: 24px;*/
      border-radius: 5px;
      background-color: #fff;
      color: #757575;
      transition: 0.5s;
    }
    .card:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

    }





    .circle {
      display: inline;
      height: 64px;
      width: 64px;
      border-radius: 50%;
      background: #ddd;
      line-height: 64px;
      font-size: 30px;
      color: #555;
      text-align: center;
    }

    .circle1 {
      display: inline;
      height: 64px;
      width: 64px;
      border-radius: 50%;
      line-height: 64px;
      font-size: 30px;
      color: #555;
      text-align: center;
    }

    .name {
      color: #222222;
      margin-left: 20px;
    }

    .fleft {
      display: inline;
      float: left;
    }
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }

    .fclear {
      clear: both;
    }
      /* local styles go here */
      :host {
        display: inline-block;
      }
    </style>
    <!-- local DOM goes here -->
    <a href="#">
    <div class="card">
        <div class="circle1 fleft"><iron-icon icon="editor:insert-drive-file"></iron-icon></div>

        <h3 class="name fleft">{{name}}</h3>
        <div class="fclear"></div>
    </div>
    </a>
  </template>
  <script>
  Polymer({
    is: 'document-card',
    properties: {
      name: String
    }
  });
  </script>
</dom-module>
