<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="my-datepicker">

  <template>

    <style>
      :host {
        display: block;
      }
      paper-input {
        --paper-input-container-color: white;
        --paper-input-container-focus-color: white;
        --paper-input-container-invalid-color: white;
      }
      paper-input ::content input::-webkit-datetime-edit-month-field{
          color: blue;
      }
      paper-input ::content input::-webkit-inner-spin-button {
          display: none;
      }
    </style>
    <style>
      paper-input ::content input::-webkit-datetime-edit-month-field{
          color: blue;
      }
      paper-input ::content input::-webkit-inner-spin-button {
          display: none;
      }
    </style>
    <!-- Paper Input with date Picker -->
    <paper-input label="Search a Date of Birth" type="date" always-Float-Label></paper-input>

  </template>

  <script>

    Polymer({

      is: 'my-datepicker',
      properties: {

      },

    });

  </script>

</dom-module>
