<link rel="import" href="../../bower_components/polymer/polymer.html">
<!--  add different imports that I need for a card  -->



<dom-module id="document-item">
  <template>
    <style>
    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #ccc;
      padding: 0;
      margin: 0px;
    }
    paper-menu {
      padding: 0px;
    }
    paper-icon-item {
      background-color: #fff;
      padding: 5px 15px;
      margin: 5px 0px;
      transition: 0.5s;
    }


    paper-icon-item:hover {

      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
    </style>

        <style is="custom-style">


      .paper-item-link {
        color: inherit;
        text-decoration: none;
      }
    </style>
    <!-- local DOM goes here -->
    <a class="paper-item-link" href="{{to}}" target="_blank" tabindex="-1">

      <paper-icon-item>
        <iron-icon icon="editor:insert-drive-file" item-icon></iron-icon>
          {{name}}
      </paper-icon-item>

    </a>
  </template>
  <script>
  Polymer({
    is: 'document-item',
    properties: {
      to: String,
      name: String
    }
  });
  </script>
</dom-module>
