<link rel="import" href="../../bower_components/webcomponentsjs/webcomponents-lite.min.js">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">

<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/iron-meta/iron-meta.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<!--  add different imports that I need for a card  -->

<dom-module id="login-form">
  <template>
    <!-- custom stylesheet -->
    <link rel="import" href="../../src/shared-styles.html">

    <style include="shared-styles"></style>
    <style>
      .card {
        display: block;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        padding: 30px;
        padding-bottom: 60px;
        /*margin: 24px;*/
        border-radius: 5px;
        background-color: #fff;
        color: #757575;
        transition: 0.5s;
        position: relative;
      }
      .card:hover {
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

      }

      h3 {
        color:#00796B;
      }

      @media (max-width: 1000px) {
        .card {
          width: 100%;
          margin-left: 15px;
          margin-right: 15px;
        }
      }
      .logo {
        padding: 20px;
        width: 200px;
        align-items: center;
      }
      .center {
        height: 100vh;
        justify-content: center;
        align-items: center;
        display: flex;
      }
      paper-button {
        position:absolute;
        right: 30px;
        bottom:15px;
        color:#00796B;
      }
      gold-email-input {
        --paper-input-container-color: black;
        --paper-input-container-focus-color: #00796B;
      }
    </style>

    <!-- Iron-Ajax created connection and gets data -->
    <iron-ajax
      id="requestUser"
      url="http://api.mjp.dev/oauth/token"
      handle-as="json"
      method="POST"
      content-type="application/json"
      body='{
        "grant_type": "password",
        "client_id": 2,
        "client_secret": "KyHacYa2Q7DCTVLaDe1RSnvTlTI20CrmYb7FXujb",
        "username": "{{email}}",
        "password": "{{password}}",
        "scope": "*"}'
      on-error="onError"
      on-response="handleResponse"></iron-ajax>

    <!-- local DOM goes here -->
    <div class="center">
      <div class="card">
        <center>
        <img class="logo" src="../../images/KIWI.png" alt="">
      </center>
        <form is='iron-form'  method='post' action='/form/handler'>
          <div id="input">
          <gold-email-input class="input" id="emailInput" label='Email' always-Float-Label value="{{email}}"></gold-email-input>
          </div>
          <paper-input type="password" id="pwInput" class="dialogInput" always-Float-Label label='Password' value="{{password}}"></paper-input>
          <paper-button id="loginBtn" on-tap="loginTheUser" >Sign In</paper-button>
        </form>
      </div>
    </div>

    <paper-toast id="toast" text="Login failed, please try again!"></paper-toast>

    <!-- Storage to pass a user key from page to page -->
    <iron-localstorage id="localstorage" name="my-app-storage"
      value="{{user}}"
      on-iron-localstorage-load-empty="initializeDefaultUser"
    ></iron-localstorage>

  </template>
  <script>
  Polymer({
    is: 'login-form',
      properties: {
        route: Object,
        name: String,
        //localstorage
        user: {
          type: Object,
        },
        //Email Input
        email: {
          value: 'admin1@test.com',
          notify: true
        },
        //Password Input
        password: {
          value: '1111',
          notify: true
        },
        //Requested values
        repos: {
          type: Array
        }
      },

      ready: function() {
        var passwordInput = this.$$("#pwInput");
        var loginButton = this.$$("#loginBtn");
        passwordInput.addEventListener("keyup", function(event) {
          event.preventDefault();
          if (event.keyCode == 13) {
            loginButton.click();
          }
        });
      },

      // initializes default value in localstorage
      initializeDefaultUser: function() {
        this.user = {
          token: null
        }
      },

      //set localstorage to null
      setToNull: function() {
        this.set('user', null);
      },

      // changes value in localstorage
      makeModifications: function(token) {
        this.set('user.token', token);

        if (this.user !== null) {
          loginProcess();
        }
      },

      // User clicks the login btn
      loginTheUser: function() {
        var pwInput = this.password;
        var emailInput = this.email;

        this.$.requestUser.generateRequest();
      },

      //handle the response token when a user log'sIn
      handleResponse: function (data) {

        // Retrieve access_token as a response
        var token = data.detail.response.access_token;

        // Call function to store token in iron-storage
        this.makeModifications(token);

      },
      onError: function(data) {
        var errorMsg = data.detail.request.xhr.response.message;
        console.log(errorMsg);
        if (errorMsg !== null) {
          this.$.toast.open();
        }
      },



  });
  </script>
</dom-module>
