<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<!-- custom stylesheet -->
<link rel="import" href="../../src/shared-styles.html">

<dom-module id="my-img-crop">
  <template>
    <style include="shared-styles"></style>
    <style>
      /* local styles go here */
      :host {
        display: inline-block; 
      }
      div {
        margin: 0;
        padding: 0;
      }

      #hoverContainer {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-left: 16px;
      }
      /*Image classes for vertical cut*/
      #profilePictureWrapper {
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
      }
      /*Icon and container to upload images*/
      #uploadIconContainer {
        position: relative;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: block;
        text-align: center;
        display: none;
        opacity: 0.7;
        cursor: pointer;
      }
      #uploadIcon {
        padding-top: 40%;
      }
      @media (max-width: 700px) {
        #hoverContainer {
          margin-left: 0;
        }
      }
      /*Style for dialog window*/
      #uploadHeader {
        @apply(--layout-horizontal);
        @apply(--layout-justified);
        border-bottom: 1px solid #E0E0E0;
        margin: 0 ;
        padding: 20px;
      }
      #uploadFooter {
        border-top: 1px solid #E0E0E0;
        @apply(--layout-horizontal);
        @apply(--layout-center);
        @apply(--layout-end-justified);
        margin: 0;
        padding: 10px;
      }

    </style>
    <!-- Dialog window to upload a Image -->
    <paper-dialog id="newImg" with-Backdrop on-iron-overlay-opened="patchOverlay">
      <div id="uploadHeader">
        <h2>Upload new Image</h2>
      </div>
      <section>
        <form is="iron-form" id="form" method="post" action="#">
          <paper-input type="file" class="dialogInput"></paper-input>
        </form>
      </section>
      <div id="uploadFooter">
        <paper-button dialog-dismiss class="dialogBtn">Cancel</paper-button>
        <paper-button dialog-confirm autofocus class="dialogBtn">Save</paper-button>
      </div>
    </paper-dialog>

    <!-- Container with image and hover icon to upload images-->
    <div id="hoverContainer" on-mouseenter="hoverIn" on-mouseleave="hoverOut">

        <!-- Img container -->
        <paper-material id="profilePictureWrapper" class="primaryBackgroundColor" elevation="5">
          <iron-image src="../../images/anonymous.jpg" style="width:200px; height:200px; background-color: #00796B;" sizing="cover" preload></iron-image>
        </paper-material>
        <!-- Upload Icon & container -->
        <paper-material id="uploadIconContainer" class="primaryBackgroundColor" on-tap="toggleImageUpload" elevation="5">
            <iron-icon class="biggerIcon" id="uploadIcon" icon="icons:cloud-upload"></iron-icon>
        </paper-material>

    </div>

  </template>
  <script>
  Polymer({
    is: 'my-img-crop',

    properties: {

    },

    hoverIn: function() {
      var img = this.$.profilePictureWrapper; 
      var icon = this.$.uploadIconContainer; 
      img.style.display = "none";
      icon.style.display = "block";
    },
    hoverOut: function() {
      var img = this.$.profilePictureWrapper;
      var icon = this.$.uploadIconContainer;
      icon.style.display = "none";
      img.style.display = "inline-block";
    },

    toggleImageUpload: function() {
      this.$.newImg.toggle();
    },
    // Fix with-backdrop on dialog
    // https://github.com/PolymerElements/paper-dialog/issues/7
    patchOverlay: function (e) {
      if (e.target.withBackdrop) {
        e.target.parentNode.insertBefore(e.target.backdropElement, e.target);
      }
    },

  });
  </script>
</dom-module>
