<!--  add different imports that I need for a card  -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../custom_elements/my-newsfeed-post/my-newsfeed-post.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animation.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">

<link rel="import" href="../../src/shared-styles.html">

<dom-module id="my-newsfeed">
  <template>

    <style include="shared-styles"></style>
    <style>
    .circle {
      display: inline;
      height: 64px;
      width: 64px;
      border-radius: 50%;
      background: #ddd;
      line-height: 64px;
      font-size: 30px;
      color: #555;
      text-align: center;
    }

    .name {
      color: #222222;
      margin-left: 20px;
    }

    .fleft {
      display: inline;
      float: left;
    }
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }

    .fclear {
      clear: both;
    }
    .title {
      color: #222222;
      margin-left: 20px;
    }
    #newPost {
      position: absolute;
      width: 100%;
    }
    #progressBar {
      padding-top: 74px;
      width: 100%;
      --paper-progress-active-color: #00897B;
    }
    :host {
      display: inline-block;
    }
    paper-button #blue {
        background: rgb(42, 52, 91);
        color: white;
    }

    @media (max-width: 1000px) {
      #newPost {
        width: 100%;
        min-width: 0px;
      }
      .card {
        margin-bottom: 10px;
      }
    }
    paper-button {
      color: #00796B;
    }

    </style>


    <paper-dialog id="newPost" with-backdrop on-iron-overlay-opened="patchOverlay">
      <h2>New Newsfeed Post</h2>
      <form is="iron-form" id="form" method="post" action="#">
      <paper-input label="Title" class="dialogInput"></paper-input>
      <paper-textarea label="Post" class="dialogInput"></paper-textarea>
      </form>
      <div class="buttons">
        <paper-button dialog-dismiss>Dismiss</paper-button>
        <paper-button dialog-confirm autofocus>Post</paper-button>
      </div>
    </paper-dialog>


    </div>
  </template>
  <script>
  Polymer({
    is: 'my-newsfeed',

    toggleNewPost: function() {
        this.$.newPost.toggle();
        this.$.newPost.center();
      },
    //Fix with-backdrop on dialog
    // https://github.com/PolymerElements/paper-dialog/issues/7
    patchOverlay: function (e) {
      if (e.target.withBackdrop) {
        e.target.parentNode.insertBefore(e.target.backdropElement, e.target);
      }
    },
  });
  </script>
</dom-module>
