<dom-module id="my-admin-panel-view">
  <link rel="import" href="../bower_components/paper-button/paper-button.html">
  <link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
  <link rel="import" href="../bower_components/app-layout/app-grid/app-grid-style.html">

  <template>
  <style include="app-grid-style">
    :host {
      --app-grid-columns: 3;
      --app-grid-gutter: 10px;
      display: block;
    }
    /*Without margin-Top content is behind toolbar */
    #searchResultWrapper {
      padding-top: 74px;
    }
    #progressBar {
      padding-top: 64px;
      width: 100%;
      --paper-progress-active-color: #00897B;
    }
    @media (max-width: 1200px) {
      :host {
        --app-grid-columns: 2;
      }
    }
    @media (max-width: 600px) {
      :host {
        --app-grid-columns: 1;
      }
    }
  </style>
    <style>
    .card {

      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      padding: 16px;

      border-radius: 5px;
      background-color: #fff;
      color: #757575;
      transition: 0.5s;
    }
    .card:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

    }
    paper-button {
      color: #00796B;
      margin: 0px;

    }
    p {
      color: black;
      margin-top: 0px;
      margin-left: 8px;
    }
    #newStudent {
      position: absolute;
      width: 100%;
    }
    #newTeacher {
      position: absolute;
      width: 100%;
    }

    </style>
    <style is="custom-style">
      :root {

        --paper-input-container-color:black;
        --paper-input-container-focus-color: black;
        /* This paper-button color change is not working for some reason*/

      }
      </style>
    <paper-dialog id="newStudent" with-backdrop on-iron-overlay-opened="patchOverlay">
      <h2>New Student</h2>
      <form is="iron-form" id="form" method="post" action="#">
      <paper-input label="First Name"></paper-input>
      <paper-input label="Last Name"></paper-input>
      <paper-input label="Email Adress"></paper-input>

      </form>
      <div class="buttons">
        <paper-button dialog-dismiss>Dismiss</paper-button>
        <paper-button dialog-confirm autofocus>Add</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="newTeacher" with-backdrop on-iron-overlay-opened="patchOverlay">
      <h2>New Teacher</h2>
      <form is="iron-form" id="form" method="post" action="#">
      <paper-input label="First Name"></paper-input>
      <paper-input label="Last Name"></paper-input>
      <paper-input label="Email Adress"></paper-input>

      </form>
      <div class="buttons">
        <paper-button dialog-dismiss>Dismiss</paper-button>
        <paper-button dialog-confirm autofocus>Add</paper-button>
      </div>
    </paper-dialog>

    <div class="app-grid">
      <div class="card">
        <paper-button on-tap="toggleNewTeacher">Change Primary App Color</paper-button><br>
        <p>This will allow you to change the apps primary color.</p>
      </div>
      <div class="card">
        <paper-button on-tap="toggleNewTeacher">Change Secondary App Color</paper-button><br>
        <p>This will allow you to change the apps secondary color.</p>
      </div>
      <div class="card">
        <paper-button on-tap="toggleNewTeacher">Change App logo</paper-button><br>
        <p>This will allow you to change the app's logo on the login screen.</p>
      </div>
      <div class="card">
        <paper-button on-tap="toggleNewStudent">Add Student</paper-button><br>
        <p>This will add a new student to the student table.</p>
        </div>
      <div class="card">
        <paper-button on-tap="toggleNewTeacher">Add Teacher</paper-button><br>
        <p>This will add a new teacher to the teacher table.</p>
      </div>
      <div class="card">
        <paper-button>Info</paper-button><br>
        <p>Click here for some info about the project.</p>
      </div>
    </div>

    <!-- Storage to pass a user key from page to page -->
    <iron-localstorage id="localstorage" name="my-app-storage"
      value="{{user}}"
    ></iron-localstorage>

  </template>

  <script>

    Polymer({

      is: 'my-admin-panel-view',

      properties: {

        user: {
          type: String,
        },
        user: {
          type: Object,
        },
        token: {
          type: String,
          value: ''
        },
        header: {
          computed: 'computeHeader(user)'
        },

      },

      ready: function() {
        // Get User key from the Storage
        this.$.localstorage.reload();
        this.token = this.user.token;
      },
      //Compute header with token for iron-ajax request
      computeHeader: function(token) {
        // return '{"Authorization": "Bearer ' + this.user.token + '"}';
        return {Authorization: 'Bearer ' + this.token};
      },

      toggleNewStudent: function() {
            this.$.newStudent.toggle();
            this.$.newStudent.center();
        },

        toggleNewTeacher: function() {
              this.$.newTeacher.toggle();
              this.$.newTeacher.center();
          },
          // Grid
          attached: function() {
            this._updateGridStyles = this._updateGridStyles || function() {
              this.updateStyles();
            }.bind(this);
            window.addEventListener('resize', this._updateGridStyles);
          },
          detached: function() {
            window.removeEventListener('resize', this._updateGridStyles);
          },
      //Fix with-backdrop on dialog
      // https://github.com/PolymerElements/paper-dialog/issues/7
      patchOverlay: function (e) {
        if (e.target.withBackdrop) {
          e.target.parentNode.insertBefore(e.target.backdropElement, e.target);
        }
      },


    });

  </script>

</dom-module>
