<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<!--Added Imports-->
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<!--Import of custom elements-->
<link rel="import" href="../custom_elements/my-search-bar/my-search-bar.html">

<!-- custom stylesheet -->
<link rel="import" href="shared-styles.html">

<dom-module id="my-app">

  <template>
    <!-- custom stylesheet -->

<style include="shared-styles"></style>
    <style>

      :host {
        display: block;
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

      }

      app-drawer {
        --app-drawer-content-container : {
          background-color: #eee;
        }

      }
      app-drawer {
        --app-drawer-background: red;
      }
      app-header {
        background-color: var(--app-primary-color);
        color: #fff;
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }
      .drawer-list a {
        display: block;
        padding: 0px;
        line-height: 40px;
        text-decoration: none;
        color: var(--app-secondary-color);
      }
      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
      .drawer-list a.subroute {
        padding-left: 32px;
      }
      /*Custom Style*/
      #customToolbar {
        height: 64px;
        @apply(--layout-horizontal);
        @apply(--layout-center);
        @apply(--layout-justified);
      }
      #toolbarTitle {
        padding: 0 16px 0 16px;
        font-size: 20px;
      }
      /*Styleing for the extended part of the Search toolbar on the left screen side*/
      #extendedSearchToolbar {
        height: 64px;
      }
      #nameTap {
        border-radius: 2px;
        position: absolute;
        top: 74px;
        right: 10px;
        padding: 10px;
        margin: 0px;
        width: 300px;
        height: 150px;
      }
      .cardText {
        float: left;
        padding-top: 10px;
        /*margin-bottom: -10px;
        margin-top: 5px;*/
      }

      .imageMed {
        float: left;
        margin: 0px;
        margin-left: 10px;

      }
      paper-button {
        color: #00796B;
      }

      .nameTap {
        text-decoration: none;
        color: white;
        margin-right: 15px;
      }
    </style>
    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>

    <app-drawer-layout responsive-width="1000px" fullbleed>

      <!-- Drawer content -->
      <app-drawer >
        <app-toolbar class="primaryBackgroundColor">EMS</app-toolbar>
        <!-- Extenion of the toolbar on the left screen side -->
        <div class="secondaryBackgroundColor" id="extendedSearchToolbar"></div>

        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <!--Dashboard Link-->
          <a name="newsfeed-view" href="/newsfeed-view">
            <paper-icon-item>
              <iron-icon icon="icons:dashboard" item-icon></iron-icon>
              Newsfeed
            </paper-icon-item>
          </a>
          <!--Profile Link-->
          <a name="profile-view" href="/profile-view">
            <paper-icon-item>
              <iron-icon icon="social:person" item-icon></iron-icon>
              My Profile
            </paper-icon-item>
          </a>
          <!--Documents Link-->
          <a name="documents-view" href="/documents-view">
            <paper-icon-item>
              <iron-icon icon="editor:insert-drive-file" item-icon></iron-icon>
              Documents
            </paper-icon-item>
          </a>
          <!--Students Link-->
          <a name="students-view" href="/students-view">
            <paper-icon-item>
              <iron-icon icon="icons:search" item-icon></iron-icon>
              Students
            </paper-icon-item>
          </a>
          <!--campus Link-->
          <a name="campus-view" href="/campus-view">
            <paper-icon-item>
              <iron-icon icon="icons:account-balance" item-icon></iron-icon>
              Campus
            </paper-icon-item>
          </a>
          <!--admin-panel Link-->
          <a name="admin-panel-view" href="/admin-panel-view">
            <paper-icon-item>
              <iron-icon icon="icons:settings" item-icon></iron-icon>
              Admin Panel
            </paper-icon-item>
          </a>


        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>
        <!--Header Toolbar & Custom Toolbar-->
        <app-header fixed>
          <div class="primaryBackgroundColor" id="customToolbar">
            <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
            <div id="toolbarTitle" title>{{pageTitle}}</div>
            <a href="#"class="nameTap" on-tap="tapName">
              <iron-image style="width:34px; border-radius: 50%; height:34px;" sizing="cover" preload src="../images/anonymous.jpg"></iron-image>
            </a>
            <paper-dialog id="nameTap">
            <iron-image class="imageMed" style="width:34px; border-radius: 50%; height:82px;" sizing="cover" preload src="../images/anonymous.jpg"></iron-image>
            <p class="cardText">
              Admin<br>
              admin1@test.com
            </p>
            <div class="buttons">
            <paper-button on-tap="logout" dialog-confirm>Logout</paper-button>
            </div>
            </paper-dialog>

          </div>

        </app-header>
        <!--Page content-->
        <iron-pages role="main" selected="[[page]]" attr-for-selected="name">

          <my-newsfeed-view name="newsfeed-view"></my-newsfeed-view>
          <my-profile-view name="profile-view"></my-profile-view>
          <my-documents-view name="documents-view"></my-documents-view>
          <my-campus-view name="campus-view"></my-campus-view>
          <my-admin-panel-view name="admin-panel-view"></my-admin-panel-view>
          <my-students-view name="students-view"></my-students-view>
          <my-std-profile-view name="std-profile-view"></my-std-profile-view>


        </iron-pages>

      </app-header-layout>

    </app-drawer-layout>

    <!-- Storage to pass a user key from page to page -->
    <iron-localstorage id="localstorage" name="my-app-storage"
      value="{{user}}"
      on-iron-localstorage-load-empty="initializeDefaultUser"
    ></iron-localstorage>

  </template>

  <script>

    Polymer({

      is: 'my-app',
      properties: {
        route: Object,

        page: {
          type: String,
          reflectToAttribute: true,
          observer: '_pageChanged'
        },
        pageTitle: {
          type: String,
        },

        user: {
          type: String,
        },

      },

      observers: [
        '_routePageChanged(routeData.page)'
      ],

      _routePageChanged: function(page) {
        this.page = page || 'newsfeed-view';

        // Switch Page Titles according to {{page}}
        switch (this.page) {
          case 'newsfeed-view':
            this.pageTitle = 'Newsfeed';
            break;
          case 'profile-view':
            this.pageTitle = 'My Profile';
            break;
          case 'documents-view':
            this.pageTitle = 'Documents';
            break;
          case 'campus-view':
            this.pageTitle = 'Campus';
            break;
          case 'admin-panel-view':
            this.pageTitle = 'Admin Panel';
            break;
          case 'students-view':
            this.pageTitle = 'Students';
            break;
          default:
            this.pageTitle = 'EMS';
            break;
        }

        var extendedSearchBar = this.$$("#extendedSearchToolbar");
        // var searchBar = this.$$("#searchBar");

        // Adding a search bar on the document page and the search page if selected
        if (this.page == 'students-view') {
          // Add the extension of the Searchbar to the document
          extendedSearchBar.style.display = 'block';
        }
        else if (this.page == 'documents-view'){
          // Add the extension of the Searchbar  to the document
          extendedSearchBar.style.display = 'block';
        }
        else {
          // If neither the search-view or the document view is selected hide the search tool bar
          extendedSearchBar.style.display = 'none';

        }
      },
      //Open the logout window 
      tapName: function() {
        this.$.nameTap.toggle();
      },
      //Logout button
      logout: function() {
        document.cookie = "id=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
        document.cookie = "loggedIn=; expires=Thu, 01 Jan 1970 00:00:00 UTC";

        //call function to set localstorage to null and reload the page
        this.setToNull();

      },

      //Set storage to null
      setToNull: function() {
        this.$.localstorage.reload();
        this.set('user', null);
        // reload the login page after logout
        window.location.href = "http://localhost:8080";
      },

      _pageChanged: function(page) {
        // load page import on demand.
        this.importHref(
          this.resolveUrl('my-' + page + '.html'), null, null, true);
      },

    });

  </script>

</dom-module>
