<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../bower_components/app-layout/app-grid/app-grid-style.html">

<!-- Import custom elements -->
<link rel="import" href="../custom_elements/my-campus-dialog/my-campus-dialog.html">
<link rel="import" href="../custom_elements/my-img-crop/my-img-crop.html">

<!-- custom stylesheet -->
<link rel="import" href="../../src/shared-styles.html">

<dom-module id="my-campus-view">

  <!-- Defines the element's style and local DOM -->
  <template>
    <!-- add custom style -->
    <style include="shared-styles"></style>
    <style include="app-grid-style">
      :host {
        display: block;
        --app-grid-columns: 3;
        --app-grid-gutter: 10px;
      }
      /*General Styling*/
      #profileWrapper, #topSection, #bottomSection, h1, h2, h3 {
        margin: 0;
        padding: 0;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      #profileWrapper {
        height: calc(100vh - 64px);
      }
      #topSection {
        height: 50%;
        background-color: #00796B;
        background-image:url("../images/geo1.jpg");
        @apply(--layout-horizontal);
        @apply(--layout-center);
        @apply(--layout-justified);
      }
      /*Top Section User image & Name*/
      #profilePictureWrapper {
        /*Cut vertical images to 200x200*/
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
        margin-left: 16px;
        background-color:rgb(42, 52, 91);
      }
      #profilePicture {
        width: 100%;
        height: auto;
      }
      #nameContainer {
        margin-right: 16px;
      }
      #campusName {
        margin: 0;
        color: white;
        font-size: 60px;
        font-size: 5vw;
        font-weight: lighter;
      }
      /*Media queries top section for layout and font sizing*/
      @media (max-width: 700px) {
          #topSection {
          height: 50%;
          background-color: #00796B;;
          @apply(--layout-vertical);
          @apply(--layout-center);
          @apply(--layout-center-justified);
        }
        #centerDiv {
          display: none;
        }
        #nameContainer {
          margin: 0;
          padding-top: 20px;
        }
      }
      @media (max-width: 500px) {
        #campusName {
          font-size: 3.5vmax;
        }
      }

      /*STYLING FOR BOTTOM SECTION*/
      #bottomSection {
        height: auto;
        padding: 0 0 0 0;
        box-sizing: border-box;
      }
      /*User Details & Icons*/
      .detailsCard {
        background-color: white;
        padding: 16px;
        border-radius: 5px;
        min-height: 180px;
        box-sizing: border-box;
        text-align: left;
      }

      /*Bottom Section Media Queries*/
      @media (max-width: 760px) {
          :host {
            --app-grid-columns: 1;
            --app-grid-gutter: 10px;
          }
          #bottomSection {
            height: auto;
            padding: 30px 16px 30px 16px;
            box-sizing: border-box;
          }
          .detailsCard {
            text-align: center;
          }
      }
      /*Dialog Styling*/
      #myDialog {
        display: none;
      }
    </style>

    <!--Profile Wrapper-->
    <div id="profileWrapper">
      <!--TOP SECTION-->
      <paper-material id="topSection" elevation="1">

        <!--Profile Picture-->
        <my-img-crop></my-img-crop>

        <div id="nameContainer">
          <h1 id="campusName">SAE Institute</h1>
        </div>
      </paper-material>
      <!--Fab Button-->
      <paper-fab class="fabStyle" icon="create" id="myBtn" on-tap="toggleDialog"></paper-fab>

      <!--BOTTOM SECTION-->
      <section id="bottomSection">
          <div class="app-grid">
            <paper-material class="detailsCard" elevation="1">
              <ul>
                <li><iron-icon class="detailIcon bigIcon" icon="communication:email"></iron-icon></li><br>
                <li><label for="email">Email: </label><span id="email">amsterdam@sae.edu</span></li>
                <li><label for="fax">Fax: </label><span id="fax">+31 (0) 20 428 14 19</span></li>
                <li><label for="phone">Phone: </label><span id="phone">+31 (0) 20 622 87 90</span></li>
              </ul><br>
            </paper-material>
            <paper-material class="detailsCard" elevation="1">
              <ul>
                <li><iron-icon class="detailIcon bigIcon" icon="room"></iron-icon></li><br>
                <li><label for="street">Street: </label><span id="street">Johan van Hasseltweg 31 </span></li>
                <li><label for="city">City: </label><span id="city">Amsterdam</span></li>
                <li><label for="zipCide">Postcode: </label><span id="zipCode">1021 KN</span></li>
                <li><label for="country">Country: </label><span id="country">Netherlands</span></li>
              </ul><br>
            </paper-material>
            <paper-material class="detailsCard" elevation="1">
              <ul>
                <li><iron-icon class="detailIcon bigIcon" icon="icons:schedule"></iron-icon></li><br>
                <li>Monday: 08:00 - 24:00</li>
                <li>Tuesday: 08:00 - 24:00</li>
                <li>Wednesday: 08:00 - 24:00</li>
                <li>Thursday: 08:00 - 24:00</li>
                <li>Friday: 10:00 - 22:00</li>
                <li>Saturday: 10:00 - 18:00</li>
                <li>Sunday: 10:00 - 18:00</li>
              </ul>
            </paper-material> 
          </div>
      </section>
      <!--Import the custom Dialog element (PopUp)-->
      <my-campus-dialog id="myDialog"></my-campus-dialog>
    <!--Ending of Page Wrapper-->
    </div>

    <!-- Storage to pass a user key from page to page -->
    <iron-localstorage id="localstorage" name="my-app-storage"
      value="{{user}}"
    ></iron-localstorage>

  </template>

  <!-- Creates the element's prototype and registers it -->
  <script>
    Polymer({
      is: 'my-campus-view',

      properties: {
        route: Object,

        user: {
          type: Object,
        },
        token: {
          type: String,
          value: ''
        },
        header: {
          computed: 'computeHeader(user)'
        },

      },
      ready: function() {
        // Get User key from the Storage
        this.$.localstorage.reload();
        console.log('This token is:' + this.user.token);
        this.token = this.user.token;
      },
      //Compute header with token for iron-ajax request
      computeHeader: function(token) {
        // return '{"Authorization": "Bearer ' + this.user.token + '"}';
        return {Authorization: 'Bearer ' + this.token};
      },
      
      //Grid
      attached: function() {
          this._updateGridStyles = this._updateGridStyles || function() {
            this.updateStyles();
          }.bind(this);
          window.addEventListener('resize', this._updateGridStyles);
      },
      detached: function() {
          window.removeEventListener('resize', this._updateGridStyles);
      },

      toggleDialog: function() {
        this.$.myDialog.toggleDialog();
        var popUp = this.shadowRoot.querySelector('#myDialog');
        popUp.style.display = 'block';
      }


    });
  </script>

</dom-module>

