<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">

<!-- Custom Elements -->
<link rel="import" href="../custom_elements/folder-item/folder-item.html">
<link rel="import" href="../custom_elements/document-item/document-item.html">
<link rel="import" href="../custom_elements/my-search-bar/my-search-bar.html">
<!-- custom stylesheet -->
<link rel="import" href="shared-styles.html">

<dom-module id="my-documents-view">

  <template>
    <!-- custom stylesheet -->

<style include="shared-styles"></style>
    <style>
      :host {
        --paper-menu-background-color: #eee;
      }
      /*Without marginTop content is behind toolbar*/
      /*added margin right and left replacing the page margin for pages without a grid */
      #documentWrapper {
        padding: 70px 10px 0px 10px;
      }
      hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        padding: 0;
        margin: 0px;
      }
      paper-menu {
        padding: 0px;
        margin: 0px;
      }
      paper-fab {
        position: fixed;
        bottom: 30px;
        right:30px;
      }
      #newDocumentOrFolder {
        position: absolute;
          width: 100%;
      }

      @media (max-width: 1000px) {
        #nnewDocumentOrFolder {
          width: 100%;
          min-width: 0px;

        }
      }
    </style>

    <style is="custom-style">
      :root {
          --my-custom-color: #00796B;
          --paper-tab-ink: var(--my-custom-color);
          --paper-input-container-color:black;
          --paper-input-container-focus-color: black;

          /* custom CSS property */

          --paper-tabs-selection-bar-color:var(--my-custom-color);

          /* custom CSS mixin */
      }
      paper-button {
        color: var(--my-custom-color);
      }
    </style>

<!-- Create ajax request that grabs all file names and their url's from the database -->


<!-- Dialog Window -->
    <paper-dialog id="newDocumentOrFolder" with-backdrop on-iron-overlay-opened="patchOverlay">
      <h2>New Document or Folder</h2>
      <paper-tabs selected="{{selected}}">
        <paper-tab>Document</paper-tab>
        <paper-tab>Folder</paper-tab>
      </paper-tabs>
      <iron-pages selected="{{selected}}">
        <div>
          <form is="iron-form" id="form" method="post" action="#">
            <paper-input type="file" id="myFile"></paper-input>
            <paper-input label="File Name"></paper-input>
          </form>
        </div>
        <div>
          <form is="iron-form" id="form" method="post" action="#">
            <paper-input label="Folder Name"></paper-input>
          </form>
        </div>
      </iron-pages>
      <div class="buttons">
        <paper-button dialog-dismiss>Dismiss</paper-button>
        <paper-button dialog-confirm autofocus>Add</paper-button>
      </div>
      <!-- on add, upload the file itself to the correct location, and add the url and file name into the database -->
    </paper-dialog>

    <!-- SearchBar -->
    <my-search-bar id="searchBar"></my-search-bar>
    <!-- Loading bar for the iron ajax element -->
    <template is="dom-if" if="{{isloading}}">
      <paper-progress id="progressBar" step="2" indeterminate="true"></paper-progress>
    </template>

    <!-- DocumentList -->
    <div id="documentWrapper">
          <paper-menu>


            <div id="rootFolderItem">
              <folder-item on-tap="docuFolderClicked" to="#" name="Documents"></folder-item>
              <document-item to="../../documents/pr1.pdf" name="practical Research 1"></document-item>
            </div>
            <div id="docuFolderItem">
              <folder-item on-tap="#" name="more"></folder-item>
              <document-item to="../../documents/pr1.pdf" name="Docu 1"></document-item>
              <document-item to="../../documents/pr1.pdf" name="Docu 2"></document-item>
              <document-item to="../../documents/pr1.pdf" name="Docu 3"></document-item>
            </div>
          </paper-menu>
    </div>

    <!-- FAB -->
    <paper-fab class="primaryFabColor" icon="icons:add" on-tap="toggleNewPost"></paper-fab>

    <!-- Storage to pass a user key from page to page -->
    <iron-localstorage id="localstorage" name="my-app-storage"
      value="{{user}}"
    ></iron-localstorage>

  </template>

  <script>

        Polymer({

      is: 'my-documents-view',

      properties: {

        user: {
          type: String,
        },
        token: {
          type: String,
        },
        header: {
          computed: 'computeHeader(user)'
        },

      },

      ready: function() {
        // Get User key from the Storage
        this.$.localstorage.reload();
        this.token = this.user.token;
        this.$.docuFolderItem.style.visibility = "hidden";
        this.$.rootFolderItem.style.visibility = "visible";
        // this.$.docuFolderItem.remove();




        //Hide andvanced Search btn when page is loaded
        this.$.searchBar.hideAdvSearch();
      },
      docuFolderClicked: function() {

        this.$.docuFolderItem.style.visibility = "visible";
        // this.$.rootFolderItem.style.visibility = "hidden";
        this.$.rootFolderItem.remove();
      },

      //Compute header with token for iron-ajax request
      computeHeader: function(token) {
        // return '{"Authorization": "Bearer ' + this.user.token + '"}';
        return {Authorization: 'Bearer ' + this.token};
      },

      toggleNewPost: function() {
        this.$.newDocumentOrFolder.toggle();
        this.$.newDocumentOrFolder.center();
      },
      //Fix with-backdrop on dialog
      // https://github.com/PolymerElements/paper-dialog/issues/7
      patchOverlay: function (e) {
        if (e.target.withBackdrop) {
          e.target.parentNode.insertBefore(e.target.backdropElement, e.target);
        }
      },

    });

  </script>

</dom-module>
