<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../bower_components/iron-icons/device-icons.html">
<link rel="import" href="../bower_components/app-layout/app-grid/app-grid-style.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">

<!-- Custom Elements -->
<link rel="import" href="../custom_elements/my-newsfeed/my-newsfeed.html">
<link rel="import" href="../custom_elements/my-newsfeed-post/my-newsfeed-post.html">
<link rel="import" href="../custom_elements/my-datetime/my-datetime.html">
<link rel="import" href="../../src/shared-styles.html">


<dom-module id="my-newsfeed-view">
  <template>
    <style include="shared-styles"></style>

    </style>
    <style include="app-grid-style">
    :host {
      --app-grid-columns: 3;
      --app-grid-gutter: 10px;
      --app-grid-expandible-item-columns: 2;
      display: block;
    }
    .item:first-child {
      @apply(--app-grid-expandible-item);
    }

    @media (max-width: 1000px) {
      :host {
        --app-grid-columns: 1;
      }
      my-datetime {
        display: none;
      }
    }
    paper-fab {
      position: fixed;
      bottom: 30px;
      right:30px;
    }
    .card {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      padding: 16px;
      margin-bottom: 10px;
      border-radius: 5px;
      background-color: #fff;
      color: #757575;
      position: relative;
      transition: 0.5s;
    }
    .card:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
    #progressBar {
      width: 100%;
      --paper-progress-active-color: #00897B;
    }
    #newsfeed {
      display: none;
    }
    </style>

    <!-- Iron-Ajax has to be before the app grid including the dom-if for the progress-bar -->
    <iron-ajax
      auto
      id="requestNews"
      url="http://api.mjp.dev/v1/news/"
      handle-as="json"
      headers="[[header]]"
      loading="{{isloading}}"
      last-response="{{response}}"></iron-ajax>

    <!-- Template tag with progress bar when data is loaded -->
    <template is="dom-if" if="{{isloading}}">
      <paper-progress id="progressBar" step="2" indeterminate="true"></paper-progress>
    </template>

    <!-- Newsfeed is now only holding the dialog window to add a new post-->
    <my-newsfeed id="newsfeed" class="item"></my-newsfeed>

    <!-- App Grid -->
    <div class="app-grid">

      <!-- Class item needed for spacing inside the app-grid -->
      <div class="item">
      <template is="dom-repeat" items="[[response.data]]">
        <div class="card">
          <my-newsfeed-post title="{{item.title}}" date="{{item.date_created}}" body="{{item.description}}"></my-newsfeed-post>
        </div>
      </template>
      </div>

      <!-- Date and Time Element -->
      <my-datetime class="item"></my-datetime>

    </div>
    <!-- FAB -->
    <paper-fab class="primaryFabColor" icon="icons:add" on-tap="tapfab"></paper-fab>

    <!-- Storage to pass a user key from page to page -->
    <iron-localstorage id="localstorage" name="my-app-storage"
      value="{{user}}"
    ></iron-localstorage>

  </template>

  <script>
        Polymer({
      is: 'my-newsfeed-view',

      properties: {
        user: {
          type: Object,
        },
        token: {
          type: String,
          value: ''
        },
        header: {
          computed: 'computeHeader(user)'
        },

      },

      ready: function() {
        // Get User key from the Storage
        this.$.localstorage.reload();
        this.token = this.user.token;

      },
      //Compute header with token for iron-ajax request
      computeHeader: function(token) {
        // return '{"Authorization": "Bearer ' + this.user.token + '"}';
        return {Authorization: 'Bearer ' + this.token};
      },

      //tap FAB to bring up the toogleNewPost function in the newsfeed custom element
      tapfab: function() {
        var dialogWindow = this.$.newsfeed;
        dialogWindow.style.display = 'initial';
        this.$.newsfeed.toggleNewPost();
      },

      // Update grid on screen size change
      attached: function() {
        this._updateGridStyles = this._updateGridStyles || function() {
          this.updateStyles();
        }.bind(this);
        window.addEventListener('resize', this._updateGridStyles);
      },
      detached: function() {
        window.removeEventListener('resize', this._updateGridStyles);
      }

    });
  </script>
</dom-module>
