<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../bower_components/app-layout/app-grid/app-grid-style.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<!--Import Custom Elements-->
<link rel="import" href="../custom_elements/my-dialog/my-dialog.html">
<link rel="import" href="../custom_elements/my-img-crop/my-img-crop.html">

<!-- custom stylesheet -->
<link rel="import" href="../../src/shared-styles.html">

<dom-module id="my-profile-view">

  <!-- Defines the element's style and local DOM -->
  <template>
    <!-- add custom style -->
    <style include="shared-styles"></style>
    <style include="app-grid-style">
      :host {
        display: block;
        --app-grid-columns: 3;
        --app-grid-gutter: 10px;
      }
      /*General Styling*/
      #profileWrapper, #topSection, #bottomSection, h1, h2, h3 {
        margin: 0;
        padding: 0;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      #profileWrapper {
        height: calc(100vh - 64px);
      }
      #topSection {
        height: 50%;
        background-color: #00796B;
        background-image:url("../images/geo2.png");
        @apply(--layout-horizontal);
        @apply(--layout-center);
        @apply(--layout-justified);
      }
      /*Top Section User image & Name*/
      #nameContainer {
        margin-right: 16px;
      }
      #studentName {
        margin: 0;
        color: white;
        font-size: 60px;
        font-size: 5vw;
        font-weight: lighter;
      }
      /* MEDIA QUERIES for thr top section*/
      @media (max-width: 700px) {
          #topSection {
          height: 50%;
          background-color: #00796B;;
          @apply(--layout-vertical);
          @apply(--layout-center);
          @apply(--layout-center-justified);
        }
        #centerDiv {
          display: none;
        }
        #nameContainer {
          margin: 0;
          padding-top: 20px;
        }
      }
      @media (max-width: 500px) {
        #studentName {
          font-size: 3.5vmax;
        }
      }

      /*STYLING OF THE BOTTOM SECTION*/
      #bottomSection {
        height: auto;
        padding: 0px 0 50px 0;
        box-sizing: border-box;
      }
      /*User Details & Icons*/
      .detailsCard {
        background-color: white;
        padding: 16px;
        border-radius: 5px;
        min-height: 180px;
        box-sizing: border-box;
        text-align: left;
      }

      /*Bottom Section Media Queries*/
      @media (max-width: 760px) {
          :host {
            --app-grid-columns: 1;
            --app-grid-gutter: 10px;
          }
          #bottomSection {
            height: auto;
            padding: 30px 16px 30px 16px;
            box-sizing: border-box;
          }
          #detailsList ul {
            text-align: center;
            padding-left: 0;
          }
      }
      /*Dialog window*/
      #myDialog {
        display: none;
      }
      /*Loadingnad when waiting for data*/
      #progressBar {
        width: 100%;
        --paper-progress-active-color: #00897B;
      }
    </style>



    <!-- Iron-Ajax created connection and gets data -->
    <iron-ajax
      auto
      id="requestSingleUser"
      url="{{url}}"
      handle-as="json"
      headers="[[header]]"
      loading="{{isloading}}"
      last-response="{{response}}"></iron-ajax>

    <!--Profile-->
    <div id="profileWrapper">
      <!--Top Section-->
      <paper-material id="topSection" elevation="1">
        <!--Profile Picture custom Elment-->
        <my-img-crop></my-img-crop>
        <!--Student Name-->
        <div id="nameContainer">
          <h1 id="studentName">{{response.data.first_name}}</h1>
        </div>

      </paper-material>
      <!-- Template tag with progress bar when data is loaded -->
      <template is="dom-if" if="{{isloading}}">
        <paper-progress id="progressBar" step="2" indeterminate="true"></paper-progress>
      </template>
      <!--Fab Button-->
      <paper-fab class="fabStyle" icon="create" id="myBtn" on-tap="toggleDialog"></paper-fab>
      <!--Bottom Section-->
      <section id="bottomSection">
          <div id="detailsList" class="app-grid">
            <paper-material class="detailsCard" elevation="1">
              <ul>
                <li><iron-icon class="detailIcon bigIcon" icon="social:person"></iron-icon></li><br>
                <li class="detailsListItem">
                  <label for="name">Name: </label>
                  <span id="name">{{response.data.first_name}} {{response.data.last_name}}</span>
                </li>
                <li class="detailsListItem">
                  <label for="birth">Date of Birth: </label>
                  <span id="birth">20.08.1992</span>
                </li>
                <li class="detailsListItem">
                  <label for="stdNr">Student Nr: </label>
                  <span id="stdNr">[[userId]]</span>
                </li>
                <li class="detailsListItem">
                  <label for="course">Course: </label>
                  <span id="course">{{response.data.courses.1.name}}</span>
                </li>
              </ul>
            </paper-material>
            <paper-material class="detailsCard" elevation="1">
              <ul>
                <li><iron-icon class="detailIcon bigIcon" icon="communication:email"></iron-icon></li><br>
                <li class="detailsListItem">
                  <label for="email">Email: </label>
                  <span id="email">{{response.data.email}}</span>
                </li>
                <li class="detailsListItem">
                  <label for="mobile">Mobiel: </label>
                  <span id="mobile">{{response.data.contacts.1.value}}</span>
                </li>
                <li class="detailsListItem">
                  <label for="phone">Phone: </label>
                  <span id="phone">{{response.data.contacts.2.value}}</span>
                </li>
              </ul>
            </paper-material>
            <paper-material class="detailsCard" elevation="1">
              <ul>
                <li><iron-icon class="detailIcon bigIcon" icon="room"></iron-icon></li><br>
                <li class="detailsListItem">
                  <label for="street">Street: </label>
                  <span id="street">{{response.data.addresses.street}}</span>
                </li>
                <li class="detailsListItem">
                  <label for="city">City: </label>
                  <span id="city">{{response.data.addresses.city}}</span>
                </li>
                <li class="detailsListItem">
                  <label for="zipCide">Postcode: </label>
                  <span id="zipCode">{{response.data.addresses.postcode}}</span>
                </li>
                <li class="detailsListItem">
                  <label for="country">Country: </label>
                  <span id="country">{{response.data.addresses.country}}</span>
                </li>
              </ul>
            </paper-material>
          </div>
      </section>
    <!--Ending of Page Wrapper-->
    </div>
  <!--Import the custom Dialog element (PopUp)-->
  <my-dialog id="myDialog"></my-dialog>

  <!-- Storage to pass a user key from page to page -->
  <iron-localstorage id="localstorage" name="my-app-storage"
    value="{{user}}"
  ></iron-localstorage>

  </template>

  <!-- Creates the element's prototype and registers it -->
  <script>
    Polymer({
      is: 'my-profile-view',

      properties: {
        route: Object,

        //Compute URL to load data witht the userID
        userId: {
          type: String,
          value: ''
        },
        url: {
          computed: 'computeURL(userId)'
        },
        //Get the token and compute header with it
        user: {
          type: Object,
        },
        token: {
          type: String,
          value: ''
        },
        header: {
          computed: 'computeHeader(user)'
        },

      },

      ready: function() {
        // Get User key from the Storage
        this.$.localstorage.reload();
        var userToken = this.user.token;
        this.token = this.user.token;

        //Needs Fix on server side from Alex (COOKIE WORKAROUND)
        //-get the user details appropriate to the token

        // Retrieve the cookie value when page is created
        function getCookie(id) {
          var value = "; " + document.cookie;
          var parts = value.split("; " + id + "=");
          if (parts.length == 2) return parts.pop().split(";").shift();
        }
        var cookieValue = getCookie("id");
        console.log('this is a dafault user cookie' + cookieValue );
        this.userId = cookieValue;
      },

      //ComputeURL for ironAjax with a cookie
      computeURL: function(userId) {
        return 'http://api.mjp.dev/v1/user/' + userId;
      },

      //Compute header with token for iron-ajax request
      computeHeader: function(token) {
        return {Authorization: 'Bearer ' + this.token};
      },

      //Grid
      attached: function() {
          this._updateGridStyles = this._updateGridStyles || function() {
            this.updateStyles();
          }.bind(this);
          window.addEventListener('resize', this._updateGridStyles);
      },
      detached: function() {
          window.removeEventListener('resize', this._updateGridStyles);
      },

      toggleDialog: function() {
        this.$.myDialog.toggleDialog();
        var popUp = this.shadowRoot.querySelector('#myDialog');
        popUp.style.display = 'block';
      }
      
    });
  </script>

</dom-module>
