<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-layout/app-grid/app-grid-style.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">

<!-- <link rel="import" href="../bower_components/app-storage/app-storage-behavior.html">
<link rel="import" href="../bower_components/app-storage/app-localstorage/app-localstorage-document.html"> -->

<!--Custom Elements-->
<link rel="import" href="../custom_elements/student-item/student-item.html">
<link rel="import" href="../custom_elements/student-card/student-card.html">

<!-- custom stylesheet -->
<link rel="import" href="../../src/shared-styles.html">

<dom-module id="my-students-view">

  <template>
    <!-- add custom style -->
    <style include="shared-styles"></style>
    <style include="app-grid-style">
      :host {
        --app-grid-columns: 3;
        --app-grid-gutter: 10px;
        display: block;
      }
      /*Without margin-Top content is behind toolbar */
      #searchResultWrapper {
        padding-top: 74px;
      }
      #progressBar {
        padding-top: 64px;
        width: 100%;
        --paper-progress-active-color: #00897B;
      }
      @media (max-width: 1200px) {
        :host {
          --app-grid-columns: 2;
        }
      }
      @media (max-width: 600px) {
        :host {
          --app-grid-columns: 1;
        }
      }
    </style>
    <!-- Iron-Ajax created connection and gets data for all users -->
    <iron-ajax
      auto
      id="requestRepos"
      url="http://api.mjp.dev/v1/user"
      handle-as="json"
      headers="[[header]]"
      loading="{{isloading}}"
      last-response="{{response}}"></iron-ajax>
    <!-- Iron-Ajax created connection and gets data from search -->
    <iron-ajax
      id="requestSearchedValue"
      url="{{url}}"
      handle-as="json"
      headers="[[header]]"
      loading="{{isloading}}"
      last-response="{{response}}"></iron-ajax>

    <!-- My Search bar gets imported and used -->
    <my-search-bar id="searchBar"></my-search-bar>

    <!-- Template tag with progress bar when data is loaded -->
    <template is="dom-if" if="{{isloading}}">
      <paper-progress id="progressBar" step="2" indeterminate="true"></paper-progress>
    </template>

    <!-- Search results inside the grid -->
    <div id="searchResultWrapper" class="app-grid">
      <!-- dom-repeat loops over the response of all students-->
      <template is="dom-repeat" id="standartTemplate" items="[[response.data]]" sort="sortData">
        <student-card
          id="studentCard"
          to="http://localhost:8080/std-profile-view/{{item.id}}"
          picsrc="../../images/anonymous.jpg"
          name="{{item.first_name}} {{item.last_name}}"
          stdId="{{item.id}}"
          on-tap="sendId"></student-card>
      </template>
      <!-- Template and card for search result's -->
      <template is="dom-repeat" id="searchTemplate" items="[[response.data]]" sort="sortData">
        <student-card
          id="studentCardSearch"
          to="http://localhost:8080/std-profile-view/{{item.id}}"
          picsrc="../../images/anonymous.jpg"
          name="{{item.first_name}} {{item.last_name}}"
          on-tap="sendId"></student-card>
      </template>

    </div>

    <!-- Storage to pass a user key from page to page -->
    <iron-localstorage id="localstorage" name="my-app-storage"
      value="{{user}}"
    ></iron-localstorage>

  <!--End of the Content-->
  </template>

  <script>

    Polymer({

      is: 'my-students-view',

          properties: {

            //clicked user id
            stdId: {
              type: String,
              notify: true
            },
            //user object and token 
            user: {
              type: Object,
            },
            token: {
              type: String,
              value: ''
            },
            //Compute the header for request
            header: {
              computed: 'computeHeader(user)'
            },
            //Search Input from user
            searchInput: {
              type: String,
              notify: true,
              value: ''
            },
            //compute search URL
            url: {
              computed: 'computeURL(searchInput)'
            },
          },


          ready: function() {
            // Get User key from the Storage
            this.$.localstorage.reload();
            this.token = this.user.token;
            //on page load hide search result
            var searchResultCard = this.$$("#searchTemplate");
            searchResultCard.style.visibility = 'hidden';
          },
          //Compute header with token for iron-ajax request
          computeHeader: function(token) {
            return {Authorization: 'Bearer ' + this.token};
          },

          //Sort the array/data alphabetically
          sortData: function(a, b) {
            if(a.first_name < b.first_name) return -1;
            if(a.first_name > b.first_name) return 1;
            return 0;
          },

          // Get the id of clicked user
          sendId: function() {
            // get value from request programaticlly
            var idValue = event.model.item.id;
          },
          //function called wehn a user creates a search input and sends it from my-search-bar
          changeSearchURL: function(searchValue) {

            var standartTemplate = this.$$("#standartTemplate");
            var searchTemplate = this.$$("#searchTemplate");

            if (searchValue !== '') {
              standartTemplate.style.visibility = 'hidden';
              searchTemplate.style.visibility = 'initial';
              this.searchInput = searchValue;
              this.$.requestSearchedValue.generateRequest();
            } else {
              window.location.href = "http://localhost:8080/students-view";
            }
          },
          //function called wehn a user creates a search input and sends it from my-search-bar
          changeSearchURL: function(searchEmailValue) {

            var standartTemplate = this.$$("#standartTemplate");
            var searchTemplate = this.$$("#searchTemplate");

            if (searchEmailValue !== '') {
              standartTemplate.style.visibility = 'hidden';
              searchTemplate.style.visibility = 'initial';
              this.searchInput = searchEmailValue;
              this.$.requestSearchedValue.generateRequest();
            } else {
              window.location.href = "http://localhost:8080/students-view";
            }
          },

          //ComputeURL to search with ironAjax 
          computeURL: function(searchInput) {
            return 'http://api.mjp.dev/v1/user/search/' + this.searchInput;
          },

          // Grid
          attached: function() {
            this._updateGridStyles = this._updateGridStyles || function() {
              this.updateStyles();
            }.bind(this);
            window.addEventListener('resize', this._updateGridStyles);
          },
          detached: function() {
            window.removeEventListener('resize', this._updateGridStyles);
          },

          //Changes the layout from boxes to list
          switchViewToList: function() {
            console.log('Switch to List View');
            var currentItem = this.shadowRoot.querySelector("student-card");
            currentItem.style.backgroundColor = 'red';
          },
          switchViewToBlock: function() {
            console.log('Switch to Block View');
          },

          // Fix with-backdrop on dialog
          // https://github.com/PolymerElements/paper-dialog/issues/7
          patchOverlay: function (e) {
            if (e.target.withBackdrop) {
              e.target.parentNode.insertBefore(e.target.backdropElement, e.target);
            }
          },
    });

  </script>

</dom-module>
