<dom-module id="shared-styles">
  <template>
    <style>
      .pageMargin {
        margin: 10px;
      }
      /*Primary and Seconday Color for containers with white text*/
      .primaryBackgroundColor {
        background-color: #00796B;
        color:white;
      }
      .secondaryBackgroundColor {
        background-color: #00897B;
        color:white;
      }
      /*Primary and Seconday Color for the use In Text*/
      .primaryColorText {
        color: #00796B;
      }
      .secondaryColorText {
        color: #00897B;
      }
      /*Color for floating action buttons*/
      .primaryFabColor{
        --paper-fab-background: #00796B;
      }
      /*Style for floating action buttons*/
      .fabStyle {
        --paper-fab-background: #00796B;
        --paper-fab-keyboard-focus-background: #00796B;
        position: fixed;
        right: 30px;
        bottom: 30px;
        z-index: 1;
      }
      /*Big class for bigger Icons*/
      .bigIcon {
        --iron-icon-height: 32px;
        --iron-icon-width: 32px;
      }
      .biggerIcon {
        --iron-icon-height: 45px;
        --iron-icon-width: 45px;
      }
      /*Text color for buttons in dialog windows*/
      .dialogBtn {
        color: #00796B;
      }
      /*styling for input fields */
      .dialogInput {
        --paper-input-container-color: black;
        --paper-input-container-focus-color: black;
        --paper-input-container-underline-focus: {
          background-color: #00796B;
        };
      }

    </style>
  </template>
</dom-module>
